html {
  overflow-y: auto;
}

#topBtn{
  background-image: url('../svg/chevron-up-outline.svg');
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  display: none;
}

.nav-btn {
  cursor: pointer;
}

#arrowBackOutlineBtn {
  background-image: url('../svg/arrow-back-outline.svg');
}

#arrowForwardOutlineBtn {
  background-image: url('../svg/arrow-forward-outline.svg');
}

#arrowBackOutlineBtn.is-disabled,
#arrowForwardOutlineBtn.is-disabled,
#searchBtn.is-disabled {
  background-image: url('../svg/ban-outline.svg');
  cursor: not-allowed;
}

#searchBtn {
  background-image: url('../svg/search-circle-outline.svg');
  background-color: transparent;
  background-size: 100% 100%;
  border: none;
}


#listTable .filetype-icon::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-size: 100% 100%;
  margin-right: 10px;
  vertical-align: middle;
}

#listTable .folder-parent-icon::before {
  background-image: url('../svg/arrow-undo-outline.svg');
}

#listTable .folder-icon::before {
  background-image: url('../svg/folder-outline.svg');
}

#listTable .comm-file-icon::before {
  background-image: url('../svg/document-outline.svg');
}

#listTable .video-file-icon::before {
  background-image: url('../svg/videocam-outline.svg');
}

#listTable .music-file-icon::before {
  background-image: url('../svg/musical-notes-outline.svg');
}

#listTable .img-file-icon::before {
  background-image: url('../svg/image-outline.svg');
}

#listTable a .tag {
  padding: 0;
  font-size: 1rem;
  height: 1.2rem;
}

#author::before {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  width: 1.2rem;
  height: 1.2rem;
  background-size: 100% 100%;
  margin-right: 2px;
  vertical-align: middle;
  background-image: url('../svg/logo-github.svg');
}

.footer p {
  text-align: center;
}

.footer {
  padding: 2rem 1rem 2rem 1rem;
}